<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app" v-if="show">
        <div class="navigation">
            <button class="navigation-btn" v-on:click="switchPage('dashboard')" v-bind:class="{ 'active ' : page === 'dashboard'}"><i class="fas fa-home"></i> Dashboard</button>
            <button class="navigation-btn" v-on:click="switchPage('server')" v-bind:class="{ 'active ' : page === 'server'}"><i class="fas fa-server"></i> Server</button>
            <button class="navigation-btn" v-on:click="switchPage('vehicle')" v-bind:class="{ 'active ' : page === 'vehicle'}"><i class="fas fa-car"></i> Vehicle</button>
            <button class="navigation-btn" v-on:click="switchPage('players')" v-bind:class="{ 'active ' : page === 'players'}"><i class="fas fa-list"></i> Players</button>
        </div>

        <div class="form" v-if="page === 'dashboard'">

        </div>

        <div class="form" v-if="page === 'server'">

        </div>

        <div class="form" v-if="page === 'vehicle'">

        </div>

        <div class="form" v-if="page === 'players'">
            <div class="players-search">
                <div class="players-search-title">Search</div>
                <input class="players-search-input" maxlength="64" type="text" placeholder="...">
                <button class="players-search-refresh"><i class="fas fa-sync-alt"></i> Refresh</button>
            </div>
            <div class="players-container">

            </div>
        </div>
    </div>

    <script src="js/vue.global.js"></script>
    <script src="js/app.js"></script>
</body>
</html>