<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app" v-if="show">
        <div class="navigation">
            <button class="navigation-btn" v-on:click="switchPage('dashboard')" v-bind:class="{ 'active ' : page === 'dashboard'}"><i class="fas fa-home"></i> Dashboard</button>
            <button class="navigation-btn" v-on:click="switchPage('server')" v-bind:class="{ 'active ' : page === 'server'}"><i class="fas fa-server"></i> Server</button>
            <button class="navigation-btn" v-on:click="switchPage('vehicle')" v-bind:class="{ 'active ' : page === 'vehicle'}"><i class="fas fa-car"></i> Vehicle</button>
            <button class="navigation-btn" v-on:click="switchPage('players')" v-bind:class="{ 'active ' : page === 'players'}"><i class="fas fa-list"></i> Players</button>
        </div>

        <div class="form" v-if="page === 'dashboard'">

        </div>

        <div class="form" v-if="page === 'server'">

        </div>

        <div class="form" v-if="page === 'vehicle'">

        </div>

        <div class="form" v-if="page === 'players'">
            <div class="players-search">
                <div class="players-search-title">Search</div>
                <input class="players-search-input" maxlength="64" type="text" placeholder="...">
                <button class="players-search-refresh"><i class="fas fa-sync-alt"></i> Refresh</button>
            </div>
            <div class="players-container">
                <table class="players-container-table">
                    <thead>
                        <tr class="players-container-tr">
                            <th @click="sort('id')">Id</th>
                            <th @click="sort('name')">Name</th>
                            <th @click="sort('ping')">Ping</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="players-container-tr" v-for="player in sortedPlayersList" v-on:click="switchPlayerPage(player)"
                            v-bind:class="{ 'cp-active' : players.page === player.name}"
                        >
                            <td style="width: 20%">{{player.id}}</td>
                            <td style="width: 68.5%">{{player.name}}</td>
                            <td style="width: 20%">{{player.ping}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr class="players-spacer">
            <div class="players-information" v-if="players.list.length > 0">
                <div class="players-information-nav">
                    <div style="position: absolute; bottom: 5%; text-align: left; color: rgba(255, 255, 255, 0.8); font-size: 1.2vw; font-weight: bold;">
                        {{players.currentSelected.name}}
                    </div>
                </div>
                <div class="players-information-nav-btn" v-on:click="switchPlayerInformationType('information')" v-bind:class="{ 'ca-active' : players.informationType === 'information'}">Information</div>
                <div style="left: 51%" class="players-information-nav-btn" v-on:click="switchPlayerInformationType('actions')" v-bind:class="{ 'ca-active' : players.informationType === 'actions'}">Actions</div>
                <div class="players-information-container" v-if="players.informationType === 'information'">
                    <table class="players-container-table">
                        <thead>
                            <tr class="players-container-tr">
                                <th>Information</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="players-container-tr">
                                <td style="width: 7.5%">Name</td>
                                <td style="width: 20%">{{players.currentSelected.name}}</td>
                            </tr>
                            <tr class="players-container-tr">
                                <td style="width: 7.5%">Position</td>
                                <td style="width: 20%">x: {{players.currentSelected.position.x}}, y: {{players.currentSelected.position.y}}, z: {{players.currentSelected.position.z}}</td>
                            </tr>
                            <tr class="players-container-tr">
                                <td style="width: 7.5%">Health</td>
                                <td style="width: 20%">{{players.currentSelected.health}}</td>
                            </tr>
                            <tr class="players-container-tr">
                                <td style="width: 7.5%">Armor</td>
                                <td style="width: 20%">{{players.currentSelected.armor}}</td>
                            </tr>
                            <tr class="players-container-tr">
                                <td style="width: 7.5%">Dimension</td>
                                <td style="width: 20%">{{players.currentSelected.dimension}}</td>
                            </tr>
                            <tr class="players-container-tr">
                                <td style="width: 7.5%">Model</td>
                                <td style="width: 20%">{{players.currentSelected.model}}</td>
                            </tr>
                            <tr class="players-container-tr">
                                <td style="width: 7.5%">Visible</td>
                                <td style="width: 20%">{{players.currentSelected.visible}}</td>
                            </tr>
                            <tr class="players-container-tr">
                                <td style="width: 7.5%">Ip Address</td>
                                <td style="width: 20%">{{players.currentSelected.ip}}</td>
                            </tr>
                            <tr class="players-container-tr">
                                <td style="width: 7.5%">HardwareIdHash</td>
                                <td style="width: 20%">{{players.currentSelected.hwidhash}}</td>
                            </tr>
                            <tr class="players-container-tr">
                                <td style="width: 7.5%">HardwareIdExHash</td>
                                <td style="width: 20%">{{players.currentSelected.hwidexhash}}</td>
                            </tr>
                            <tr class="players-container-tr">
                                <td style="width: 7.5%">SocialClubId</td>
                                <td style="width: 20%">{{players.currentSelected.socialid}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="players-information-container" v-if="players.informationType === 'actions'">

                </div>
            </div>
        </div>
    </div>

    <script src="js/vue.global.js"></script>
    <script src="js/app.js"></script>
</body>
</html>